body {
  background-color: #c95155;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
  justify-items: center;
  align-items: center;
}

.flip-card {
  width: 275px;
  height: 212px;
  background-color: transparent;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.7s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 30px;
}

.flip-card-front {
  background-color: #c9252b;
  color: white;
}

.flip-card-back {
  transform: rotateY(180deg);
  background-color: #df3d43;
  color: white;
}
